:root {
   --optionBackground: var(--defaultBackground, #E6E9ED);
   --defaultColor: #ED5565;
}

.options {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   overflow: hidden;
   min-height: 1000px;
   max-height: 1000px;
   height: calc(100% - 100px);
   width: 100%;
}

.options .option {
   position: relative;
   overflow: hidden;
   min-height: 60px;
   margin: 10px;
   background: var(--optionBackground);
   background-size: cover;
   background-position: center;
   cursor: pointer;
   transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option.active {
   flex-grow: 10000;
   transform: scale(1);
   max-width: 600px;
   margin: 0;
   border-radius: 40px;
}

.options .option.active .shadow {
   mix-blend-mode: multiply;
   background: var(--cor);
}

.options .option.active .label {
   top: 20px;
   left: 20px;
}

.options .option:not(.active) {
   flex-grow: 1;
   border-radius: 30px;
}

.options .option:not(.active) .label {
   bottom: 10px;
   left: 10px;
}

.options .option .shadow {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   mix-blend-mode: multiply;
   background: #1c1c1c;
   transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option .label {
   display: flex;
   position: absolute;
   right: 0;
   height: 40px;
   transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option .label .icon {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 40px;
   max-width: 40px;
   height: 40px;
   border-radius: 100%;
   background-color: white;
   color: var(--defaultBackground);
   font-weight: 900;
   font-family: "Font Awesome 5 Free";
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.options .option .label .icon.raca:before {
   content: "\f471";
}

.options .option .label .info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 10px;
   color: white;
   white-space: pre;
}

.options .option .label .info > div {
   position: relative;
   transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
}

.options .option .label .info .main {
   font-weight: bold;
   font-size: 1.2rem;
   font-style: normal;
}

.options .option .label .info .sub {
   transition-delay: .1s;
   font-style: normal;
}

.options .option .description {
   display: none;
}

.options .option.active .description {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 26px;
   bottom: 20px;
   width: 90%;
   background: #f3f3f3;
   color: #000;
   height: 150px;
   padding: 16px;
   box-sizing: border-box;
   font-family: heebo;
   box-shadow: 1px 2px #938e8e;
   border-radius: 8px;
   opacity: 0.9;
}

.options .option.active .description .nivel {
   text-transform: uppercase;
   color: var(--cor);
   font-size: 12px;
   letter-spacing: 5px;
   font-weight: bold;
}
